@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|family=Bebas+Neue|family=Germania+One|family=Markazi+Text:wght@400..700|family=Pirata+One|family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900|family=UnifrakturCook:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');







/* IMPORTED FONTS 



'UnifrakturCook'  - Blackletter

'Germania One'    - Blackletter

'Pirata One'      - Blackletter 

'Bokor'           - Blackletter

'Grenze Gotisch'  - Blackletter Text

'Markazi Text'    - Serif Text

'Roboto'          - Sans Serif Text

'Bebas Neue'      - All Caps 

'Barlow'          - Sans Serif Text

'Barlow Condensed'- Sans Serif Condensed Text





*/



.pageindex {
	width: auto;
	position: fixed;
	transform: translate(-5px, 75px);
	background-color: white;
}

.pageindex table {
	border: none !important;
}

.pageindex table td, th {
	border: none;
	padding: 0;
}

.pageindex tr:nth-child(even) {
	background-color: rgb(247, 238, 255);
}


.pageindex table td:hover {
	background-color: blueviolet;
	color: white !important;
}

.pageindex a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 5px;
	font-size: 10pt;
}

.pageindex a:hover {
	color: white;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header h1 {
	font-family: "gandur-new", semi-bold;
    font-weight: 600;
    font-style: normal;
    font-size: 32pt;
    margin: 0;
	align-items: center;
}


.header {
	display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    align-items: center;
}

.header label {
	font-family: Barlow;
	display: flex;
	flex-direction: row;
	font-size: 12pt;
	align-items: flex-end;
	padding-left: 30%;
	
}

.header button {
	background-color: transparent;
	border: none;
	font-family: barlow;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.header button:hover {
	color: blueviolet;
	cursor: pointer;
}

.header button:active {
	color: blueviolet;
}

.spells-div {
	background-color: white;
	width: 100%;
	margin: 20px;
}

.page-contents {
	background-color: white;
	width: 50%;
	margin: 20px;
	text-align: justify;
	hyphens: auto;
}

.page-contents h1 {
	font-family: "gandur-new", semi-bold;
	font-weight: 300;
	font-style: normal;
}

.spells-div h1 {
	font-family: "gandur-new", semi-bold;
	font-weight: 300;
	font-style: normal;
}

.footer {
	padding-top: 50px;
	font-family: barlow;
	font-weight: light;
	text-align: center;
}









.container {
    width: 100%;
    margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filter {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
	font-family: barlow !important;
}

.filter input, .filter select {
    margin: 5px;
    padding: 5px;
    font-size: 10px;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.spell-list {
    width: 600px;
    background-color: #fff;
    padding: 20px;
    max-height: 60vh;
    overflow-y: auto;
	font-family: barlow;
	font-size: 10pt;
}

.spell-list table {
    width: 100%;
    border-collapse: collapse;
}

.spell-list th, .spell-list td {
    padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.spell-list th {
    background-color: blueviolet;
	font-family: barlow;
	text-align: start;
	font-size: 10pt;
	color: white;
}

.spell-list tr:hover {
    background-color: #f9f9f9;
}

.spell-list tr:active {
    background-color: blueviolet;
	color: white;
}



.spell-description {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
	font-family: barlow;
	width: 100%;
}

.spell-description h2 {
	font-family: 'pirata one';
	font-weight: 300;
	border-bottom: 1px solid;
	margin-top: 0;
}

.spell-description.active {
    display: block;
}

.spell-details {
	font-size: 9pt;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.spell-details p {
	margin: 0;
	font-size: 10pt;
}

.spell-aciklama {
	font-size: 10pt;
}

#menu-drop {
	display: none !important;
}

.spell-form {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.spell-form form {
    display: flex;
    flex-direction: column;
}

.spell-form label {
    margin-top: 10px;
}

.spell-form input, .spell-form textarea, .spell-form button {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: blueviolet;
    color: blueviolet;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: blueviolet;
	color: white;
}




table {
	border: 1px solid blueviolet;
	font-family: barlow;
	border-collapse: collapse;
	width: 50%;
}

td, th {
	padding: 10px;
	border: 1px solid blueviolet;
}

p {
	font-family: barlow;
}

h3 {
	font-family: barlow;
	color: blueviolet;
}

h2 {
	font-family: 'gandur new';
	font-weight: 900;
	font-size: 24pt;
	margin-top: 100px;
}

h4 {
	font-family: barlow;
	color: blueviolet;
}

.page-contents a {
	text-decoration: none;
	color: blueviolet;
	font-family: 'gandur new';
	font-size: 18pt;
}

.page-contents a:hover {
	transform: scale(1.2);
	transition: 100ms;
}

.page-contents a:hover~.disclaimer {
	display: block;
}

.disclaimer {
	display: none;
	font-family: barlow;
	font-size: 10pt;
	font-style: italic;
}

.upbutton {
	position: fixed;
	bottom: 5%;
	right: 5%;

}








@media screen and (max-width: 1100px) {
	.main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.spell-list {
		height: 300px !important;
		width: 100% !important;
	}

	#menu-vert {
		display: none !important;
	}

	#menu-drop {
		display: flex !important;
	}

	.page-contents {
		width: 60%;
	}

	
}

@media screen and (max-width: 800px) {
	#header-slvnz {
		margin-right: 20% !important;
	}

	.page-contents {
		width: 70% !important;
		display: flex; flex-direction: column; margin-left: 25%;
	}
}

@media screen and (max-width: 600px) {
	#header-slvnz {
		margin-right: 10% !important;
	}

	.page-contents {
		width: 70%;
		display: flex; flex-direction: column; margin-left: 30%;
	}
}

@media screen and (max-width: 300px) {
	#header-slvnz {
		margin-right: 0 !important;
	}

	.page-contents {
		width: 50%;
		display: flex; flex-direction: column; margin-left: 25%;
	}
}

